.difference
  padding-top: 65px
  &__wrapper
    margin-top: 79px
  &__icon
    height: 73px
    position: relative
    img
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
  &__item
    width: 297px
    margin-bottom: 80px
  &__title
    font-family: $museoMid
    font-size: 22px
    color: $dark
    margin-top: 35px
  &__text
    font-family: $museo
    font-size: 16px
    color: $grey
    padding-top: 20px
