.why
  margin-top: 37px
  &__wrapper
    margin-top: 66px
  &__item
    width: 303px
  &__icon
    width: 73px
    height: 73px
    background-position: center center
    background-repeat: no-repeat
    &--ant
      background-image: url(../img/icon_avg1.png)
    &--zoom
      background-image: url(../img/icon_avg2.png)
    &--face
      background-image: url(../img/icon_avg3.png)
  &__title
    font-family: $museoMid
    font-size: 22px
    color: $dark
    padding-top: 26px
  &__text
    font-family: $museo
    font-size: 16px
    color: $grey
    padding-top: 21px
