.header
  width: 100%
  height: 98px
  background: $white
  position: relative
  padding-top: 24px
  box-sizing: border-box
  &__phone
    color: $black2
    font-family: $museoMid
    font-size: 2.5em
    &--mob
      font-family: $museoMid
      font-size: 44px
      color: $black2
      +respond-to(593)
        font-size: 24px

nav
  width: 62.6%
  display: inline-block
  margin-left: 48px
  margin-top: 16px
  +respond-to(950)
    margin-left: 0
    width: 100%
    margin-top: 39px

.menu
  width: 100%
  &--mob__link
    display: inline-block
    font-family: $museo
    color: $grey4
    &:hover
      color: $green
      text-shadow: 0 0 .9px $green, 0 0 .9px $green
      padding: 0
  &__item
    display: inline
    font-size: 1.6em
    +respond-to(1070)
      font-size: .8rem
    &--mob
      display: block
      font-family: $museo
      font-size: 40px
      color: $grey4
      padding: 15px 0
      +respond-to(593)
        font-size: 24px
        padding: 5px 0
  &__link
    display: inline-block
    font-family: $museo
    color: $grey4
    &:hover
      color: $green
      text-shadow: 0 0 .9px $green, 0 0 .9px $green
      padding: 0

.logo
  display: inline-block
  float: left

.phone-block
  width: 17%
  display: inline-block
  float: right
  margin-top: 4px
  &__text
    display: inline-block
    font-family: $museo
    font-size: 16px
    color: $grey4
    position: relative
    &:before
      content: ""
      width: 34px
      height: 34px
      background: url(../img/h_phone_icon.png) no-repeat center center
      position: absolute
      top: -22px
      left: -42px
    &--mob
      font-family: $museo
      font-size: 28px
      color: $grey4
      +respond-to(593)
        font-size: 18px

