<% var data = {
  title: "Муравьинные фермы"
}; %>

<!-- header -->
<%= _.template(require('./../includes/header.html').default)(data) %>
<!-- front section -->
<%= _.template(require('./../includes/front-section.html').default)(data) %>
<!-- why section -->
<%= _.template(require('./../includes/why.html').default)(data) %>
<!-- actions section -->
<%= _.template(require('./../includes/actions.html').default)(data) %>
<!-- catalog section -->
<%= _.template(require('./../includes/catalog.html').default)(data) %>
<!-- additionally section -->
<%= _.template(require('./../includes/additionally.html').default)(data) %>
<!-- promo section -->
<%= _.template(require('./../includes/promo.html').default)(data) %>
<!-- features section -->
<%= _.template(require('./../includes/features.html').default)(data) %>
<!-- get section -->
<%= _.template(require('./../includes/get.html').default)(data) %>
<!-- delivery section -->
<%= _.template(require('./../includes/delivery.html').default)(data) %>

<!-- footer -->
<%= _.template(require('./../includes/footer.html').default)(data) %>